@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient-color: linear-gradient(
        150deg,
        rgba(18, 194, 233, 1) 0%,
        rgba(196, 113, 237, 1) 47%,
        rgba(246, 79, 89, 1) 100%
    );
}

/* Common Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	font-family: "Manrope", sans-serif;
}
::after,
::before,
span {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
html,
body {
	background-color: #000000;
	/* background-color: #020617; */
	cursor: auto;
}

a,
input,
textarea {
	outline: none;
	color: inherit;
}
input,
textarea {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
h6 {
	color: grey;
	font-size: 1.6rem;
	font-weight: 600;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Section Heading */
.section-heading {
	width: 100%;
	display: grid;
	padding: 2.5rem 0;
	place-items: center;
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #d3d3d3;
	line-height: 1.6rem;
	text-shadow: 0 0.3rem 0.5rem #000;
}
/* End of Section Heading */
/* End of Common Styles */
/* Mouse Circle */
.mouse-circle,
.mouse-dot {
	position: fixed;
	/* position: absolute; */
	border-radius: 50%;
	opacity: 1;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
.mouse-circle {
	width: 4rem;
	height: 4rem;
	background-color: rgb(228, 228, 228);
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}
.mouse-dot {
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #757575;
	transform-origin: 100% 100%;
	transition: all 0.6s ease-in-out;
	transition-property: background, transform, opacity;
}
.mouse-dot.mouse-active {
	transform: scale(2);
	background: rgb(228, 228, 228);
	animation: opacity 1s forwards;
}
.mouse-dot.mouse-activeproj {
	transform: scale(2);
	background-color: #757575;
	animation: opacityProj 1s forwards;
}
.mouse-circle.mouse-active2 {
	animation: zIndex 0.5s forwards;
}
.mouse-active h1 {
	font-size: 1rem;
}
.mouse-dot span {
	background: transparent;
	transform: scale(0.4);
}
@keyframes opacity {
	0% {
		background-color: #757575;
	}
	100% {
		background: #75757548;
	}
}
@keyframes opacityProj {
	0% {
		background: #757575;
	}
	100% {
		background: transparent;
	}
}
@keyframes zIndex {
	0% {
		z-index: 700;
	}
	50% {
		z-index: 50;
	}
	100% {
		z-index: 20;
	}
}
/* End of Mouse Circle */
/* Progress Bar */
.progress-bar {
	position: fixed;
	bottom: 4rem;
	right: 4rem;
	width: 8.2rem;
	height: 8.2rem;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
	border-radius: 50%;
	z-index: 100;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.half-circle,
.half-circle-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	transform-origin: right center;
	pointer-events: none;
}
.half-circle:nth-child(1) {
	background-color: rgb(207, 207, 207);
}
.half-circle:nth-child(2) {
	background-color: rgb(207, 207, 207);
}
.half-circle-top {
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		-150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
}
.progress-bar-circle {
	width: 7.8rem;
	height: 7.8rem;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	font-size: 4rem;
	z-index: 200;
	transition: transform 0.5s;
	pointer-events: none;
}
/* End of Progress Bar */
/* Navigation */
/* Menu Icon */
.menu-icon {
	position: fixed;
	top: 4rem;
	right: -2rem;
	width: 12rem;
	height: 7rem;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transform: translate(-50%, -50%);
	transition: opacity 0.2s;
}
.menu-icon-line {
	width: 4rem;
	height: 0.1rem;
	background-color: #fff;
	margin: 0.5rem 0;
	box-shadow: 0 0.3rem 0.5rem #000;
}
.show-menu-icon {
	opacity: 1;
	visibility: visible;
}
/* End of Menu Icon */
/* Navbar */
.navbar {
	position: fixed;
	top: 3rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 15rem;
	z-index: 100;
	transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}
ul {
	display: flex;
}
.navbar-link {
	font-size: 1.6rem;
	font-weight: 500;
	color: #fff;
	/* margin: 0 2rem; */
	text-shadow: 0 0.3rem 0.5rem #000;
}
.navbar-link:hover {
	text-shadow: none;
}
.hide-navbar {
	opacity: 0;
	visibility: hidden;
	transform: translateX(10rem);
}
/* End of Navbar */
/* End of Navigation */
/* Section 1 */
.section-1 {
	position: relative;
	width: 100%;
	height: 100vh;
	/* border: 1px solid teal; */
}
.section-1::after {
	content: "";
	position: absolute;
	width: 82%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid;
	border-image-slice: 1;
	-webkit-border-image-source: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	border-image-source: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
}
/* Logo */
.logo {
	position: absolute;
	top: 2rem;
	left: 15rem;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-shadow: 0 0.3rem 0.5rem #000;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
/* End of  Logo */
.main-img-section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.main-img-cntr {
	position: relative;
}
.main-img-cntr h1 {
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 18rem;
	font-weight: 300;
	letter-spacing: -2px;
}
.main-img-cntr img {
	position: relative;
	/* width: 30rem;
  height: 36rem; */
	width: 30rem;
	height: 40vh;
	top: -3%;
	left: 50%;
	transform: translate(-50%, -15%);
}
.main-img-cntr p {
	color: #fff;
	position: relative;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}
/* End of Section 1 */
/* Section 2 */
.section-2 {
	position: relative;
	height: 100vh;
}
.intro-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15rem;
}
/* Intro Text */
.intro-text {
	width: 100%;
	text-align: center;
}
.intro-text span {
	font-size: 5.6rem;
	font-weight: 500;
	color: #2c2c2c;
	letter-spacing: 0.5rem;
	line-height: 1.5;
	text-shadow: 0 0 1rem #d3d3d3;
	position: relative;
}
@keyframes aboutMeTextAnim {
	0% {
		color: #aaa;
		top: 0;
	}
	10%,
	40% {
		color: #fff;
		top: 1.5rem;
	}
	70% {
		color: #aaa;
		top: 0;
	}
	90% {
		color: #fff;
		top: 1.5rem;
	}
	100% {
		color: #aaa;
		top: 0;
	}
}
/* End of About Me Text */
/* End of Section 2 */
/* Section 3 */
.section-3 {
	width: 100%;
	height: 150vh;
	position: relative;
}
li {
	font-size: 1.6rem;
}

li:focus {
	outline: rgb(0, 0, 0);
}

/* Projects */
.project-content {
	position: relative;
	padding: 0 15rem;
	height: 125vh;
}
.project-content.project-content-secondary {
	height: 87.5vh;
}
/* Project Background*/
.project-selector-cntr-mirror-main {
	position: absolute;
	width: 100%;
	height: 125vh;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project-selector-cntr-mirror-main.project-selector-cntr-mirror-secondary {
	height: 87.5vh;
}
.project-selector-cntr {
	position: relative;
	z-index: 50;
	width: 100%;
	height: 160vh;
	background-color: transparent;
}
/* start tab navation for projects */
.selector {
	width: 70%;
	display: flex;
	margin: 0 auto;
}
.tab {
	padding: 1rem;
	width: 25%;
	text-align: center;
	position: relative;
	transition: all 0.5s ease;
	overflow: hidden;
}
.selector h6:first-child {
	color: rgb(298, 298, 298);
}
.selector h6 {
	color: rgba(0, 0, 0, 0.701);
}

[data-tab="1"] {
	color: rgb(298, 298, 298);
	border-bottom: 1px solid rgb(298, 298, 298);
}
.tab.selected::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -100%;
	width: 100%;
	border-bottom: 1px solid rgb(298, 298, 298);
	animation: selectedTab 0.5s linear forwards;
	-webkit-animation: selectedTab 0.4s linear forwards;
}
@keyframes selectedTab {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
.tab.selectedright::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: -100%;
	width: 100%;
	border-bottom: 1px solid rgb(298, 298, 298);
	animation: selectedTab 0.5s linear forwards;
	-webkit-animation: selectedTab 0.5s linear forwards;
}
@keyframes selectedTab {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
.content-body {
	display: none;
	visibility: hidden;
}
.show-flex {
	display: flex;
	visibility: visible;
}
/* end tab navation for projects */
.testimonial-slider1 {
	display: flex;
}

.project {
	display: flex;
	opacity: 1;
	height: 40rem;
	width: 45rem;
	overflow: hidden;
	margin: 0 5rem 0 5rem;
	background-color: rgb(0, 0, 0);
	position: relative;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	perspective: 2rem;
	transition: opacity 0.5s;
	border: 0.5px solid white;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, /* top shadow */
	rgba(9, 30, 66, 0.13) -1px 0px 1px, /* left shadow */
	rgba(9, 30, 66, 0.13) 1px 0px 1px; /* right shadow */
	
}
.project div:first-of-type {
	position: absolute;
	height: 30%;
	bottom: -30%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: opacity 0.5s;
	background-color: rgb(235, 235, 235);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project div:first-of-type a {
	width: 40%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.701);
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;
	border-radius: 1rem;
	text-decoration: none;
}
.project-card {
	height: 120vh;
	position: relative;
	display: flex;
}
.project-card.project-card-secondary {
	height: 87.5vh;
}
.project-card-img {
	width: 60%;
}
.project-card-text {
	width: 30%;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.293);
	color: rgb(38, 38, 38);
	/* box-shadow: 0px 1px 4px 8px rgba(0, 0, 0, 0.5); */
	/* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
	animation: none;
	border-radius: 0.5rem;
}
/* project card with card on right */
.slick-list.draggable {
	width: 100%;
}
.project-card-right > div.project-card-text {
	position: absolute;
	right: 12px;
	top: 25%;
	transform: translateY(-25%);
}
.project-card-right > div.project-card-img {
	position: absolute;
	left: 0;
	top: 15%;
	transform: translateY(-15%);
}
/* project card with card on left */
.project-card-left > div.project-card-text {
	position: absolute;
	left: 12px;
	top: 75%;
	transform: translateY(-75%);
}
.project-card-left > div.project-card-img {
	position: absolute;
	right: 0;
	bottom: 15%;
	transform: translateY(15%);
}
.project-card-text h1,
.project-card-text-center h1 {
	display: grid;
	place-items: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.project-card-text p,
.project-card-text-center p {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

/* to center all other cards besides all work section */
.project-card-center {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}
.project-card-center > div.project {
	width: 65vw;
	height: 45vh;
	margin: 0;
	border: 1px solid #cc6cd7;
	border-bottom: none;
}
.project-card-text-center {
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.293);
	color: rgb(38, 38, 38);
	/* box-shadow: 0px 1px 4px 8px rgba(0, 0, 0, 0.5); */
	/* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
	animation: none;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

@keyframes seeCode {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-99%);
	}
}
@keyframes leaveCode {
	0% {
		transform: translateY(-99%);
	}
	100% {
		transform: translateY(0%);
	}
}
.project img {
	width: 90%;
	object-fit: cover;
	position: relative;
	top: 2rem;
	opacity: 0.5;
	pointer-events: none;
	transition: top 4s 0.2s, opacity 0.2s;
	margin: auto auto;
}
.project:nth-child(odd):hover img {
	animation: oddImgAnim 4s 0.2s;
	opacity: 1;
}
@keyframes oddImgAnim {
	0% {
		transform: rotateY(0);
	}
	25% {
		transform: rotateY(-0.3deg) rotateX(0.3deg);
	}
	50% {
		transform: rotateY(0.3deg) rotateX(-0.3deg);
	}
	100% {
		transform: rotateY(0);
	}
}
.project:nth-child(even):hover img {
	animation: evenImgAnim 4s 0.2s;
	opacity: 1;
}
@keyframes evenImgAnim {
	0% {
		transform: rotateY(0);
	}
	25% {
		transform: rotateY(0.3deg) rotateX(-0.3deg);
	}
	50% {
		transform: rotateY(-0.3deg) rotateX(0.3deg);
	}
	100% {
		transform: rotateY(0);
	}
}

/* React Section without Slick due to only one project atm */

.react {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.react > div {
	width: 40rem;
}
/* end React Section of Projects*/
/* Big Project Image */
.project-img-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: hidden scroll;
	scroll-behavior: smooth;
	animation: imgWrapperAnim 1s forwards;
	z-index: 80;
}
/* Code links */
.code-links {
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}
.code-link {
	opacity: 1;
	visibility: visible;
	font-size: 1.6rem;
	margin: 0.3rem 5rem 0 5rem;
	padding: 2rem;
	color: black;
	border-radius: 0.5rem;
	background: #fff;
	display: block;
	transform-origin: top center;
	animation: imgAnim 1s 1s both;
}
@keyframes linksOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes linksOpacity2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.link-change {
	opacity: 0;
	visibility: hidden;
}
@keyframes imgWrapperAnim {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
.project-img {
	width: 100%;
	border-radius: 0.5rem;
	padding: 7rem 20rem;
	opacity: 0.9;
	display: block;
	transform-origin: top center;
	animation: imgAnim 1s 1s both;
}
@keyframes imgAnim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
/* End of Big Project Image */
/* Project Hide Button */
.project-hide-btn {
	position: fixed;
	top: 2.5rem;
	right: 5rem;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	z-index: 200;
	transform: scale(0);
	visibility: hidden;
}
.change.project-hide-btn {
	transform: scale(1);
	visibility: visible;
	transition: transform 0.5s;
}
/* End of Project Hide Button */
/* End of Projects */
/* End of Section 3 */
/* Section 4 */
.section-4 {
	position: relative;
	width: 100%;
	padding-bottom: 25rem;
}
.section-4.secondary {
	margin-top: -40rem;
}
.section-4::after {
	content: "";
	position: absolute;
	width: 82%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid;
	border-image-slice: 1;
	-webkit-border-image-source: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	border-image-source: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
}
/* Journey */
.journey-wrapper {
	width: 100%;
	flex-direction: column;
	z-index: 100;
}
.journey-cntr {
	width: 70%;
	border-bottom: 0.5rem solid #fff;
	height: 70rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.journey {
	width: 100%;
}
.journey-btn {
	width: 100%;
	z-index: 100;
	position: relative;
	display: block;
	height: 15rem;
}
.journey-btn span {
	opacity: 0.2;
}
.journey-btn span:nth-child(2) {
	font-size: 3.2rem;
	position: absolute;
	right: 0;
	top: 50%;
	background: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: right 0.5s;
}
.journey-btn span.super {
	vertical-align: super;
	font-size: 200%;
	background: rgb(18, 194, 233);
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.color-gradient {
	background: rgb(18, 194, 233);
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.journey-btn span.reduce {
	letter-spacing: -6px;
}
.journey-btn span:first-child {
	width: 100%;
	font-size: 12rem;
	position: absolute;
	left: 0;
	color: #fff;
}
.journey-text {
	font-size: 3rem;
	color: #fff;
	margin-top: 2rem;
	letter-spacing: 0.1rem;
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.change.journey-text {
	height: 15rem;
	visibility: visible;
	opacity: 1;
	transition: height 0.25s, opacity 0.5s 0.5s;
}
/* End of Journey */
/* End of Section 4 */
/* Section 5 */
.section-5 {
	position: relative;
	flex-direction: column;
	background: #000000;
	/* border: 1px solid red; */
}
/* Start of Outro */
.outro-cntr {
	display: flex;
	width: 82%;
	margin-top: 5rem;
}
.outro-img {
	width: 100%;
	display: flex;
	min-width: 40rem;
	width: 40rem;
}
.outro p {
	color: #fff;
	font-size: 3.2rem;
	font-weight: 500;
}
.summary {
	margin-top: 10rem;
	display: flex;
	justify-content: space-between;
	height: 30rem;
	width: 100%;
	color: #fff;
}
.summary {
	margin-bottom: 4rem;
}
.summary h6 {
	margin-bottom: 2rem;
}
/* End of Outro */
/* Section 6 */
.section-6 {
	padding-bottom: 4rem;
	position: relative;
	flex-direction: column;
	background: #000000;
}
.section-6::after {
	content: "";
	position: absolute;
	width: 82%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid;
	border-image-slice: 1;
	-webkit-border-image-source: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	border-image-source: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
}
/* Form */
.form-cntr {
	width: 82%;
	margin: -2.5rem auto 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.form-wrapper {
	width: 100%;
	position: relative;
	z-index: 30;
	margin-top: 5rem;
	display: grid;
	place-items: center;
}
.outro-logo-cntr {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-bottom: 2rem;
}
.outro-logo-cntr h4 {
	color: rgb(298, 298, 298);
	position: absolute;
	top: 6em;
	left: 5em;
	font-size: 100%;
	font-weight: bolder;
	font-style: italic;
}
.outro-logo {
	background: rgb(18, 194, 233);
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		45deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 18rem;
	transform: rotateX(51deg) rotateZ(43deg);
	transform-style: preserve-3d;
	border-radius: 32px;
	box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
		28px 28px 28px 0 rgba(34, 33, 81, 0.25);
	transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}
@keyframes logoBounce {
	0% {
		transform: rotateX(51deg) rotateZ(43deg) rotateY(3.142rad);
	}
	20% {
		transform: translateY(-100%) rotateZ(10deg);
	}
	40% {
		transform: 
      /* translateY(-80%) */ translateY(0%) rotateZ(-10deg)
			rotateY(3.142rad);
	}
	60% {
		transform: translateY(-60%) rotateZ(10deg);
	}
	80% {
		transform: translateY(-20%) rotateZ(-10deg);
	}
	100% {
		transform: translateY(0) rotateX(51deg) rotateZ(43deg);
	}
}
.outro-logo h1 {
	border-top: 2px solid rgb(298, 298, 298);
	border-bottom: 2px solid rgb(298, 298, 298);
	color: rgb(298, 298, 298);
	font-size: 1.8rem;
	letter-spacing: -2px;
}
.outro-logo:hover {
	transform: translate3d(0px, -16px, 0px) rotateZ(0deg);
	box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
		54px 54px 28px -10px rgba(34, 33, 81, 0.15);
	animation: logo 1s linear forwards;
}
.form-heading {
	height: 1.8rem;
	width: 100%;
	transition: opacity 0.3s;
}
.contact-form {
	width: 100%;
	flex-direction: column;
}
.contact-form-input {
	width: 100%;
	padding: 0.5rem;
	margin: 1rem 0;
	background-color: rgba(255, 255, 255, 0.1);
	border: 0.1rem solid rgb(298, 298, 298);
	color: #aaa;
	letter-spacing: 0.1rem;
	height: 5rem;
}
.contact-form-textarea {
	height: 20rem;
	resize: none;
}
.form-submit-btn {
	width: 20rem;
	height: 5rem;
	margin-right: 2rem;
	background-color: rgb(298, 298, 298);
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	border: none;
	border-radius: 2px;
	align-self: flex-start;
	font-size: 1.8rem;
	color: #000;
}
button p {
	font-size: 1.8rem;
}
/* Form Validation */
.message {
	font-size: 1.2rem;
	color: #f55e5e;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin: 0 auto 1rem 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}
.error.message {
	visibility: visible;
	opacity: 1;
}
/* End of Form Validation */
/* End of Form */
/* End of Section 6 */

/* Intro */
.intro {
	font-weight: 100;
	letter-spacing: -6px;
}
.container {
	width: 100%;
	height: 100vh;
	/* stopped animation for developing */
	overflow: hidden;
	/* stopped animation for developing */
}
.page-wrapper {
	overflow: hidden;
	/* stopped animation for developing */
	/* opacity: 1;
	visibility: visible; */
	opacity: 0;
	visibility: hidden;
	/* stopped animation for developing */
	transition: opacity 1s;
}
.banner {
	/* stopped animation for developing */
	opacity: 1;
	visibility: visible;
	/* stopped animation for developing,delete these two */
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	overflow: hidden;
	z-index: 100;
}
.banner::after {
	content: "";
	width: 250%;
	height: 100%;
	background: linear-gradient(to right, transparent, #000, #000);
	position: absolute;
	top: 0;
	right: 0;
	animation: bannerAnim 5s linear forwards;
	-webkit-animation: bannerAnim 5s linear forwards;
}
@keyframes bannerAnim {
	0% {
		right: 0;
	}
	100% {
		right: -250%;
	}
}
.banner h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 13.5rem;
	color: #fff;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	margin-bottom: 100px;
}
.banner button {
	width: 23rem;
	padding: 0.5em 1em;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Dosis", sans-serif;
	font-size: 2.5rem;
	color: #fff;
	letter-spacing: 0.2rem;
	border-radius: 100px;
	border: none;
	outline: none;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.5);
	animation: buttonAnim 1s 2.5s backwards;
	transition: all 0.5s;
	overflow: hidden;
}
@keyframes buttonAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.banner button::before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, #fff, transparent);
	position: absolute;
	top: 0;
	left: -100%;
	transform: skewX(-30deg);
	transition: left 0.5s;
}
.banner button:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 5px 2px rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		150deg,
		rgba(246, 79, 89, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(18, 194, 233, 1) 100%
	);
}
.banner button:hover::before {
	left: 100%;
}
.slider {
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateY(100%);
	z-index: 10;
}
/* End Intro */
/* Scroll Anims */
.custom-slick-arrow {
	font-size: 2rem; /* Increase the size of the icon */
	width: 3rem; /* Increase the width of the button */
	height: 3rem; /* Increase the height of the button */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent; /* Adjust background color if needed */
	border: none; /* Remove any default border */
	cursor: pointer; /* Change cursor to pointer */
  }
  
  .custom-slick-arrow i {
	font-size: 2rem; /* Increase the size of the icon */
  }
.place-above {
	z-index: 400;
}
.transform {
	opacity: 0;
}
.transform-rotate {
	transform-origin: 100% 100%;
}
/* End Scroll Anims */
/* Start Contact Buttons */
.modern-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.modern-button:hover {
    background-image: var(--gradient-color);
    color: #ffffff;
}
/* End Contact Buttons */
/* Bottom Nav */
.nav-bottom {
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
}
.nav-bottom h6 {
	width: 82%;
	margin: auto 0 auto 0;
}
/* skip nav */
.skip-nav-link {
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	font-size: 1rem;
	color: #000;
	background-color: white;
	position: absolute;
	transform: translateY(-120%);
	left: 0.5rem;
	transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
	transform: translateY(0);
	background-color: white;
}
/* Start of Socials */
.socials-cntr {
	z-index: 300;
	position: fixed;
	bottom: 0;
	left: 2%;
}
.socials-cntr:before {
	position: absolute;
	content: "";
	border: 1px solid #fff;
	height: 8rem;
	left: 50%;
	bottom: 0rem;
	transform: translate(-50%);
}
.socials {
	display: flex;
	flex-direction: column;
	padding-bottom: 8rem;
}
.social-img {
	width: 4rem;
	height: 4rem;
	padding-bottom: 1rem;
}
.social-img img {
	background-color: red;
}
.filter-white {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg)
		brightness(102%) contrast(103%);
}
/* End of Socials */
/* Responsive */

/* portrait desktop */
@media screen and (min-width: 600px) and (min-height: 1200px),
	screen and (orientation: portrait) {
	.project div:first-of-type {
		bottom: 0;
		opacity: 0;
	}
}
@media screen and (min-width: 900px) and (min-height: 1600px),
	screen and (orientation: portrait) {
	.project {
		height: 45vh;
	}
	.main-img-cntr img {
		position: relative;
		top: 3%;
		width: 40rem;
		height: 60rem;
	}
}
/* end portrait desktop */
@media screen and (max-width: 1350px) {
	html {
		font-size: 58%;
	}
	.main-btn {
		width: 12.5rem;
		height: 12.5rem;
	}
	.progress-bar {
		right: 1rem;
		bottom: 0;
	}
	.about-me-text span {
		font-size: 10rem;
	}
	.form-cntr {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.outro-logo-cntr {
		display: none;
	}
}
@media screen and (max-width: 1350px) {
	html {
		font-size: 58%;
	}
	.main-btn {
		width: 12.5rem;
		height: 12.5rem;
	}
	.progress-bar {
		right: 1rem;
		bottom: 0;
	}
	.about-me-text span {
		font-size: 10rem;
	}
	.form-cntr {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.outro-logo-cntr {
		display: none;
	}
}
@media screen and (max-width: 1150px) {
	html {
		font-size: 55%;
	}
	.main-img-cntr img {
		top: -1.5%;
	}
	.intro-text span {
		font-size: 5rem;
	}
	.about-me-text span {
		font-size: 7.5rem;
	}
	.journey-btn {
		height: 12rem;
	}
	.journey-btn span {
		font-size: 8rem;
	}
	.journey-text {
		font-size: 3rem;
		margin-top: 5rem;
	}
	.outro-cntr {
		margin-top: 0;;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 82%;
	}
	.outro {
		margin-left: 0;
		width: 100%;
	}
	.outro p:first-child {
		margin-top: 6rem;
	}
	.outro p {
		text-align: center;
		font-size: 2.5rem;
	}
	.navbar-link {
		margin: 0 2rem;
	}
}
@media screen and (max-width: 900px) {
	.intro-text span {
		font-size: 4rem;
	}
	.mouse-circle,
	.mouse-dot {
		display: none;
	}
	.logo {
		display: none;
	}
	.navbar {
		justify-content: center;
		padding: 0 0 0 5rem;
	}
	.main-img-cntr h1 {
		font-size: 14rem;
	}
	.menu-icon {
		right: -4rem;
	}
	.navbar-link {
		font-size: 1.5rem;
		margin: 0 1rem;
	}
	.journey-text {
		font-size: 90%;
		margin-top: 10rem;
	}
	.section-heading h1 {
		padding-left: 5rem;
	}
	.about-me-text span {
		font-size: 5.5rem;
		color: #ccc;
	}
	.journey-btn {
		height: 9rem;
	}
	.journey-btn span {
		font-size: 6rem;
	}
	.journey-text {
		font-size: 3.2rem;
	}
}
@media screen and (max-width: 650px) {
	html {
		font-size: 50%;
	}
	.banner h1 {
		font-size: 12rem;
	}
	.section-1 {
		padding-top: 10rem;
	}
	.main-img-cntr img {
		top: -1%;
		/* width: 25rem;
    height: 30rem; */
	}
	.intro-text span {
		font-size: 2rem;
		color: #fff;
	}
	.project-content {
		padding: 10rem 5rem;
	}
	.project div:first-of-type {
		bottom: 0;
	}
	.project img {
		opacity: 1;
	}
	.project:nth-child(odd):hover img {
		animation: none;
	}
	.project:nth-child(even):hover img {
		animation: none;
	}
	.journey-btn span {
		font-size: 4.5rem;
	}
	.journey-btn span:nth-of-type(2) {
		display: none;
	}
	.journey-text {
		font-size: 3rem;
		color: #bbb;
		height: 30rem;
		visibility: visible;
		opacity: 1;
	}
	.change.journey-text {
		height: 30rem;
	}

	.summary {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.summary div {
		width: 15%;
	}
	.form-submit-btn {
		width: 15rem;
	}
	.nav-bottom {
		margin: 0rem;
	}
}
/* most phones */
@media screen and (max-width: 420px) {
	html {
		font-size: 35%;
	}
	.main-img-cntr h1 {
		font-size: 12rem;
	}
	.main-img-cntr img {
		top: 5%;
		/* width: 20rem;
    height: 35rem; */
	}
	.logo {
		font-size: 1.7rem;
		top: 13rem;
		left: 50%;
		transform: translateX(-50%);
	}
	.navbar {
		justify-content: center;
		padding: 0;
	}
	.intro-text span {
		font-size: 3rem;
		color: #fff;
	}
	.project div:first-of-type {
		visibility: visible;
		opacity: 1;
		bottom: 0;
		animation: none;
	}
	.socials-cntr {
		left: 0.5%;
	}
	.form-btn-cntr {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-height: 650px) {
	.banner {
		width: 62%;
		margin-top: -10%;
	}
	/* .intro-btn {
    position: absolute;
    top: 60%;
  } */
	.main-img-cntr {
		width: 82%;
		height: 70%;
	}
	.main-img-cntr h1 {
		position: relative;
		color: #fff;
		font-size: 1000%;
	}
	.main-img-cntr img {
		position: relative;
		width: 40%;
		height: 70%;
	}
	.main-img-cntr p {
		top: -10%;
	}
	.project {
		height: 30rem;
	}
	.section-4 {
		margin-top: 10rem;
	}
}

/* End of Responsive */

/* skip nav */
.skip-nav-link {
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	font-size: 1rem;
	color: #000;
	background-color: white;
	position: absolute;
	transform: translateY(-120%);
	left: 0.5rem;
	transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
	transform: translateY(0);
	background-color: white;
}

/* Start of Socials */
.socials-cntr {
	z-index: 500;
	position: fixed;
	bottom: 0;
	left: 4.5rem;
}
.socials-cntr:before {
	position: absolute;
	content: "";
	border: 1px solid #fff;
	height: 8rem;
	left: 50%;
	bottom: 0rem;
	transform: translate(-50%);
}
.socials {
	display: flex;
	flex-direction: column;
	padding-bottom: 8rem;
}
.social-img {
	width: 4rem;
	height: 4rem;
	padding-bottom: 1rem;
}
.social-img img {
	background-color: red;
}
.filter-white {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg)
		brightness(102%) contrast(103%);
}
/* End of Socials */
